{{ $ := .root }}
{{ $page := .page }}
{{ $data := site.Params }}

<!-- Partners widget -->
<div class="row contact-widget">
    <div class="col-12 col-lg-4 section-heading">
        <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
        {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    </div>

    {{/*  Logo images  */}}
    {{ range $page.Params.logos }}
    <a class="logofarm" href="{{ .url | safeURL }}" target="_blank">
        <img src="/media/{{ .image }}" alt="{{ .alt }}" style="height: 70px; width: auto; margin: 10px;">
    </a>
    {{ end }}

    {{/*
    <div class="col-12 col-lg-8">
        {{ with $page.Content }}{{ . }}{{ end }}
    </div>
    */}}
</div>